:host {
  padding: 20px;
  display: block;
  height: 122px;
}

.group {
  clear: both;
}

.reg {
  display: block;
  width: 87px;
  float: left;

  b {
    width: 40px;
    display: block;
    float: left;
    text-align: right;
    padding-right: 6px;
  }
}
