<div class="toolbar">
  <button
    nz-button
    nzType="default"
    nz-tooltip
    nzTooltipTitle="Run"
    nzTooltipPlacement="bottom"
  >
    <i nz-icon nzType="caret-right" nzTheme="outline"></i>
  </button>
  <nz-divider nzType="vertical"></nz-divider>
  <button
    nz-button
    nzType="default"
    nz-tooltip
    nzTooltipTitle="Step"
    nzTooltipPlacement="bottom"
  >
    <i nz-icon nzType="step-forward" nzTheme="outline"></i>
  </button>
  <nz-divider nzType="vertical"></nz-divider>
  <button
    nz-button
    nzType="default"
    nz-tooltip
    nzTooltipTitle="Reset"
    nzTooltipPlacement="bottom"
  >
    <i nz-icon nzType="rollback" nzTheme="outline"></i>
  </button>
</div>
